thead {
  background-color: #f8f9fa;
}

th {
  color: #333;
  text-align: center;
  font-weight: bold;
}

.RankCard-tbody:hover {
  background-color: #f1f1f1;
}

th,
td {
  text-align: center;
}

.button-container button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #c82333;
}

.ranking_product_sideinfo {
  display: block;
  align-items: center;
  justify-content: center;
  color: #888;
}

.table-cell {
  display: flex;
  align-items: center;
}

.image-container img {
  max-height: 100px;
  width: auto;
  border-radius: 5px;
}
