.root-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainImg {
  border-radius: 15px;
}

.main-container {
  display: flex;
  width: 1120px;
  justify-content: center;
  padding-bottom: 2rem;
}

.main-info {
  margin-left: 2rem;
  width: 50%;
}

.info-title {
  width: 70px;
  margin-right: 10px;
  color: #62676c;
}

.info-desc {
  flex: 1;
  color: #242428;
}

.row {
  display: flex;
}
.row li {
  width: 50%;
}

.title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.underline-1 {
  background: #151515;
  height: 0.7px;
  font-size: small;
}

.underline-2 {
  background: hsl(240, 3%, 78%);
  font-size: bold;
  height: 1px;
  border: 0;
}

.actor-section {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.notice {
  margin-bottom: 20px;
}

.info-title {
  display: flex;
  align-items: left;
}

.kakao-map {
  width: 1120px;
  height: 500px;
}
